@import "../../../../styles";

.shop-icon {
  display: flex;
  margin-right: 10px;
  color: black;
}

.badge-custom {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  background: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
