@import "../../../../../styles";

.card-container {
  margin-bottom: 20px;
  cursor: pointer;
  &__thumbnail {
    height: 150px;
    object-fit: cover;
  }
  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
