<div class="container-fluid m-top80">
  <div class="row">
    <div class="col-sm-4" *ngFor="let product of products">
      <div class="card card-container">
        <img
          [src]="product.thumbnail"
          class="card-img-top card-container__thumbnail"
          [alt]="product.title"
          (click)="goToDetails(product.id)"
        />
        <div class="card-body">
          <h5
            class="card-title card-container__title"
            (click)="goToDetails(product.id)"
          >
            {{ product.title }}
          </h5>
          <p
            class="card-text card-container__description"
            (click)="goToDetails(product.id)"
          >
            {{ product.description }}
          </p>
          <h2 class="secondary-color" (click)="goToDetails(product.id)">
            {{ product.price | currency : "USD" }}
          </h2>
          <div class="t-align-right">
            <div class="primary-button primary-button--right">
              <span class="material-icons"> add_shopping_cart </span>Agregar a
              carrito
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
