<div class="container-fluid m-top80">
  <div class="t-align-center" *ngIf="products.length === 0">
    <div class="spinner-border text-primary mt-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p>Cargando productos...</p>
  </div>
  <div class="row" *ngIf="products.length !== 0">
    <div class="col-sm-3" *ngFor="let product of products">
      <div class="card card-container">
        <img
        [lazy-src]="product.thumbnail"
          class="card-img-top card-container__thumbnail"
          [alt]="product.title"
          (click)="goToDetails(product.id)"
        />
        <div class="card-body">
          <h5
            class="card-title card-container__title"
            (click)="goToDetails(product.id)"
          >
            {{ product.title }}
          </h5>
          <p
            class="card-text card-container__description"
            (click)="goToDetails(product.id)"
          >
            {{ product.description }}
          </p>
          <h2 class="secondary-color" (click)="goToDetails(product.id)">
            {{ product.price | currency : "USD" }}
          </h2>
          <div class="t-align-right">
            <div
              class="primary-button primary-button--right"
              (click)="addProductToCart(product)"
              *ngIf="!checkProductExist(product)"
            >
              <span class="material-icons"> add_shopping_cart </span>Agregar al
              carrito
            </div>
            <div
              class="secondary-button secondary-button--right"
              (click)="removeProductFromCart(product)"
              *ngIf="checkProductExist(product)"
            >
              <span class="material-icons"> remove_shopping_cart </span>Remover del
              carrito
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

